# Introduction to Data Science Pr. 1 
__Budapest 2021__, **Fall Semester**

In [209]:
print("Hello Python!") # comment pep8 code style standard 
"""
    Multi
    Line 
    Comment
    
"""

Hello Python!

'\n    Multi\n    Line \n    Comment\n    \n'

In [5]:
a = 2021
b = "Budapest"
print(a,b)

2021 Budapest

In [10]:
type(a)
b = 2021
type(b)
a = "Budapest"
print(a,b)

Budapest 2021

In [15]:
print("a:",a,"b:",b)
a,b = b,a
print("a:",a,"b:",b)
tboooolean = True
fboooolean = False
print(tboooolean, type(tboooolean))

a: 2021 b: Budapest
a: Budapest b: 2021
True <class 'bool'>

In [23]:
#Legal variable names:
myvar = "Arthur"
my_var = "Arthur"
_my_var = "Arthur"
myVar = "Arthur"
MYVAR = "Arthur"
myvar2 = "Arthur"
#Illegal variable names:
# 2myvar = "Arthur"
# my-var = "Arthur"
# my var = "Arthur"
c,d = 8,False
print(c,d)

8 False

In [52]:
# how to define a function in Python? 

x = "external variable!"

def myFunction() -> None:
    global x
    y = "internal variable!"
#     print('This is an {}'.format(x))
#     print('This is an {}'.format(y))
    print('This is an {str2} and {str1}'.format(str1=y, str2=x))
    x = "smth else"

#     print('This is an {}'.format(x))


w = "fuuuun!"

myFunction()

print(x)

This is an external variable! and internal variable!
smth else

In [86]:
7-.2
a = 2
b = 3
type(a)
type(b)
print('add', a + b)
print('mult' ,a * b)
type(a + b)
print('floor div', a//b)
print('moodulus', a%b)
print('exp', a**b)
print(type(a/b))

a = '8.4'
print(float(a))
a = '8'
print(int(a))
a = '8.3'
# print(int(a)) generates an error: "invalid literal for int() with base 10: '8.4'"

str(a)
print(type(str(a)))

add 5
mult 6
floor div 0
moodulus 2
exp 8
<class 'float'>
8.4
8
<class 'str'>

In [96]:
from ctypes import c_int, addressof
a=8
print(addressof(c_int(a)))
a=9
print(addressof(c_int(a)))

140366611327760
140366611327760

In [150]:
a = [1,2,3,5]
a
list((1,2,3,5))
a
a = [1,.2,3, a, "str"]
print(a)
print(a[3])
print(a[-1])
print(a[:2])
print(a[2:])
print(a[2:4])
print(len(a))
print(a[2:8])

a = [1,2,3,4,5]

print(a[2::-1])

a = [ x for x in range(10)]
print(a)
type(range(10))
a[1] = "list str"
print(a)
a.pop(1)
print(a)
a = [ x for x in range(10)]
b = [ x -10 for x in a ]

print("")

print(a)
print(b)
b[3] = "list str"
print(a)
print(b)

c = (1,2,3,"tuple")
# c[1] = "string"
print(c[1:])
string = "bal bla bla"
string[1:3]

[1, 0.2, 3, [1, 2, 3, 5], 'str']
[1, 2, 3, 5]
str
[1, 0.2]
[3, [1, 2, 3, 5], 'str']
[3, [1, 2, 3, 5]]
5
[3, [1, 2, 3, 5], 'str']
[3, 2, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 'list str', 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-10, -9, -8, 'list str', -6, -5, -4, -3, -2, -1]
(2, 3, 'tuple')

'al'

In [162]:
a = {'a':1, 'b':3}
a['a']
d = a.get('d')
type(d)
# in python null is called None
a=None
a.__repr__()
print(a.__repr__())

None

In [175]:
a = set([1,2,3,5,5,5,5,5,6])
print(a)
b = set([5,6,7])
print(a - b)
print(b - a)
print(b.union(a))
print(b & a)
print(a & b)

{1, 2, 3, 5, 6}
{1, 2, 3}
{7}
{1, 2, 3, 5, 6, 7}
{5, 6}
{5, 6}

In [194]:
a = 2
b = 2
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print((a < 5) and (a < b))
print((a > 5) and (a < b))
print((a > 5) or (a < b))
print( not ((a > 5) or (a < b)))

if a < b:
    print('a is smaller than b')
elif a>b:
    print('a is greater than b')
elif a>(b-19):
    print('a is greater than b-19')
else:
    print('a is equal to b')

True
False
False
False
True
True
False
False
False
True
a is greater than b-19

In [203]:
a = [x*2 for x in range (10)]
a

for i in a:
    print(i)
    
for i in range(len(a)):
    print(a[i])

0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18

In [206]:
i = 0
while i < len(a):
    print(a[i])
    i += 1

0
2
4
6
8
10
12
14
16
18